vendor/
composer.lock
.idea
.php_cs.cache
grumphp.yml
grumphp.yml.scbak
php_cs.php
php_cs.php.scbak
phpstan.neon
phpstan.neon.scbak
phpunit.xml.dist
phpunit.xml.scbak
config/cli-config.php
coverage.sh
!src/dist/coverage.sh
coverage.xml
bin/.phpunit
